<div class="project">
  <h1>Editing project</h1>

  <%= render 'form_edit' %>

  <h2>Add a task:</h2>
  <%= render "tasks/form" %>

  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %>
</div>
