<h1>Listing projects</h1>

<section id="projects" class="transitions-enabled clearfix">

  <% @projects.each do |project| %>

      <%= render :partial => "project", :object  => project %>

  <% end %>

</section>


<br />

<%= link_to 'New Project', new_project_path, :data => { :colorbox => true,:colorbox_height => '500px', :colorbox_width => '500px', :colorbox_iframe => true } %>
